Flask==0.12.2
Flask-Cors==3.0.3
gunicorn==19.7.1
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
pandas==0.20.3
requests==2.18.4
bs4==0.0.1
Spinter==0.7.7
